<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="c492a489-1798-425a-b808-0074c45186f1" activeEnvironment="Default environment" name="OpenTee.ExternalAPI" lastOpened="2016-11-18T16:20:52.599+08:00" resourceRoot="" authProfile="Admin" soapui-version="6.0.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>https://github.com/daisyatim/Teeoff.ExternalAPITesting.git</con:repositoryIdentifier></con:vcsConfiguration><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository><con:basicAuthEntry><con:name>Admin</con:name><con:type>Basic</con:type><con:username>test</con:username><con:password>test</con:password></con:basicAuthEntry></con:authRepository><con:tags/></con:soapui-project>