<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e608ae34-c0be-48d3-b986-ddb4a2f82225" name="UserController" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e608ae34-c0be-48d3-b986-ddb4a2f82225fileName">UserController</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>